.services-section {
  padding: 80px 10%;
  background: #0a1520;
  color: white;
  text-align: center;
}

.services-header {
  margin-bottom: 50px;
}

.services-eyebrow {
  color: #ccff00;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: rgba(255, 75, 92, 0.1);
  padding: 5px 12px;
  gap: 8px;
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 25px;
}

.services-title {
  font-size: 36px;
  margin: 10px 0;
  font-weight: 700;
}

.services-subtitle {
  max-width: 600px;
  margin: 0 auto;
  opacity: 0.8;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* CARD */
.service-card {
  background: rgba(255, 255, 255, 0.07);
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  transition: 0.3s ease;
  border: 1px solid rgb(216, 238, 14);
}

.service-card:hover {
  transform: translateY(-8px);
  border-color: #00d4ff;
}

/* ICON */
.service-icon {
  margin-bottom: 15px;
  color: #ccff00;
}

.service-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.service-card p {
  font-size: 14px;
  opacity: 0.85;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .services-section {
    padding: 60px 5%;
  }
}

@media (max-width: 768px) {
  .services-title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .services-section {
    padding: 50px 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}